<div class="col-lg-10">
    <h3>{{titulo}}</h3>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Has enviado un correctamente, míralo en
        <a [routerLink]="['/mensajes/enviados']">mensajes enviados</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se ha podido enviar el mensaje.
    </div>
    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <p>
            <label>Para :</label>
            <!-- listado de seguidores -->
            <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
            <option *ngFor="let follow of follows" value="{{follow.followed._id}}">{{follow.followed.name + ' ' + follow.followed.surname + '(' + follow.followed.nick + ')'}}
                </select>
        </p>
        <p>
            <label>Mensaje</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>

            <span *ngIf="!text.valid && text.touched">E  l mensaje es obligatorio </span>
        </p>

        <input type="submit" value="{{titulo}}" class="btn btn-success" />

    </form>
</div>