<div class="col-lg-10">
    <h3>{{titulo}}</h3>

    <!--listados de mensajes enviados-->
    <div class="people" *ngIf="messages">

        <!-- LISTADO -->
        <div *ngFor="let message of messages" class="item-user">
            <div class="panel panel-default" id="tarjeta">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="">
                            <img src="{{url + '/get-image/' + message.emiter.image}}" *ngIf="message.emiter.image" />
                            <img src="assets/images/ninja.png" class="avatar-default" *ngIf="!message.emiter.image" />
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a [routerLink]="[ '/perfil', message.emiter._id]">{{message.emiter.name + message.emiter.surname}}</a> | <span class="nickname">
                                {{message.emiter.nick}}
                            </span>
                        </p>
                        <p class="col-lg-12">
                            {{message.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINATION -->
        <ul class="pagination pull-right">
            <li *ngIf='page > 1'>
                <a [routerLink]="['/siguiendo', userPageId ,prev_page]">Anterior</a>
            </li>
            <li *ngIf='pages != page'>
                <a [routerLink]="['/siguiendo', userPageId ,next_page]">Siguiente</a>
            </li>
        </ul>
    </div>
</div>