<div class="col-lg-4 sidebar-32">
    <h1 class="h1-strong">Datos de {{identity.name}}</h1>
</div>



<div id="user-card" class="col-lg-4 panel panel-default pull-left box-default">
    <div class="avatar pull-left">
        <img src="{{url + '/get-image/' + identity.image}}" *ngIf="identity.name" />
        <img src="assets/images/ninja.png" *ngIf="!identity.name" />
    </div>

    <div class="name-surname pull-left">
        <a href="" class="username">
      {{identity.name + ' ' + identity.surname}}
    </a>
        <p class="nickname">{{identity.nick}}</p>
        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

    <div class="stats" *ngIf="stats">
        <div class="following-data">
            <a href="">
                <span class="label-stats">
          Siguiendo
        </span>
                <span class="number-stats">
          {{stats.following}}
        </span>
            </a>
        </div>
        <div class="following-data">
            <a href="">
                <span class="label-stats">
          Seguidores
        </span>
                <span class="number-stats">
          {{stats.followed}}
        </span>
            </a>
        </div>
        <div class="following-data">
            <a href="">
                <span class="label-stats">
          Publicaciones
        </span>
                <span class="number-stats">
          {{stats.publications}}
        </span>
            </a>
        </div>
    </div>
</div>

<!-- formulario de publicaciones -->
<div id="new-publication" class="col-md-4 panel panel-default pull-left">
    <h3 class="text-center">Crear publicaion</h3>
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
        <p>
            <label>¿Que esta pensando?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required>
      </textarea>
            <span *ngIf="!text.valid && text.touched">El texto para la publicacion es obligatorio</span>
        </p>

        <p>
            <label>Sube una imagen</label>
            <input type="file" placeholder="Subir imagen" />
        </p>
        <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid" />
    </form>
</div>